{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mood Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:mood_chart' %}">Mood Chart</a>
                </li>
                <li>
                    <a href="{% url 'dashboard:mood_history' %}">Mood History</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Mood Tracker</p>
    </footer>
</body>

</html>