{% extends "base.html" %}
{% load static %}

{% block title %}
Home - Mood Tracker
{% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                        <div class="text-uppercase">Design &middot; Development &middot; Marketing</div>
                    </div>
                    <div class="fs-3 fw-light text-muted">Welcome to</div>
                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Mood Tracker</span></h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        {% if user.is_authenticated %}
                        <a href="{% url 'mood:mood_entry' %}"
                            class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Add Mood Entry</a>
                        {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder">Login</a>
                        <a href="{% url 'account_signup' %}" class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder">Sign Up</a>
                        {% endif %}
                    </div>
                    <p><em>Track your daily moods and discover patterns in your emotions</em></p>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary">
                        <img class="profile-img" src="{% static 'images/illustration-home-page.png' %}" alt="Illustration of woman on laptop and a calendar" />
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}